@font-face {
    font-family: Cormorant SC;
    src: url(/assets/fonts/CormorantSC-Bold.ttf);
    src: url(/assets/fonts/CormorantSC-Light.ttf);
    src: url(/assets/fonts/CormorantSC-Medium.ttf);
    src: url(/assets/fonts/CormorantSC-Regular.ttf);
    src: url(/assets/fonts/CormorantSC-SemiBold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(/assets/fonts/Inter-VariableFont.ttf);
}

@media screen and (min-width:501px) {
    .desktop_heading_65 {
        font-size: 65px;
    }

    .desktop_heading_55 {
        font-size: 55px;
    }

    .desktop_heading_79 {
        font-size: 55px;
    }

    .hide-on-desktop {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .hide-on-mobile {
        display: none;
    }

    .mobile_heading_65 {
        font-size: 35px;
    }

    .mobile_heading_55 {
        font-size: 40px;
    }

    .mobile_heading_79 {
        font-size: 45px;
    }

    .margin_top_10 {
        margin-top: 10px;
    }
}

.custom_submit_button {
    background: #A3E074 !important;
    border-radius: 5px;
    height: 45px;
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 145.5% !important;
    text-align: center !important;
    color: #000000 !important;
}

.customButton {
    background: #08E7F9;
    border-radius: 5px;
    width: 128px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 145.5%;
    color: #000000;
}

.form-group input:focus {
    border-color: #A3E074 !important;
}

/* .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: white !important;
} */

.navbar-light .navbar-toggler-icon {
    background-image: url(/assets/Images/burger_icon.png) !important;
}

.upperSection_bg {
    background: linear-gradient(166.23deg, #63448D 21.32%, #190F33 88.22%), #110F14;
}

.logo_text {
    font-family: "Cormorant SC" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 26px !important;
    line-height: 85% !important;
    text-align: center !important;
    color: #35e8f9 !important;
}

.menu_ul li a {
    font-family: "Inter" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 145.5% !important;
    color: #ffffff !important;
    padding: 10px 10px !important;
}

.nav-item {
    padding: 0px 25px !important;
}

.nav-link:hover:before {
    content: "[";
    margin-right: 10px;
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.nav-link:after {
    content: "]";
    margin-left: 10px;
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.nav-link:hover:before,
.nav-link:hover:after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.section_raiseFund {
    background: #F5F3F8;
    padding-bottom: 46px;
}

.raiseFund_header {
    background: linear-gradient(111.28deg, #63448D -16.05%, #190F33 103.82%), #110F14;
    height: 95px;
}

.raiseFund_header h5 {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 220%;
    text-align: center;
    color: #FFFFFF;
}

.section_join_to_invest {
    height: 272px;
    background: #B5F9FF;
    border-radius: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    width: 90%;
    padding: 0 5%;
    /* position: absolute;
    top: -122px;
    left: 5%; */
    /* margin-left: auto;
    margin-right: auto; */
    justify-content: space-between;
}

.section_join_to_invest_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section_join_to_invest_1 h5 {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    /* font-size: 55px; */
    line-height: 100%;
    color: #000000;
}

.section_join_to_invest_1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145.5%;
    color: #000000;
}

.section_join_to_raiseFund {
    min-height: 259px;
    background: #EFE3FF;
    border-radius: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    width: 90%;
    padding: 0 5%;
    /* position: absolute;
    bottom: -122px;
    left: 5%; */
    justify-content: space-between;
}

.section_4_1 h4 {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    /* font-size: 55px; */
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}

.section_4_1_2 {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5%;

}

label {
    display: block !important;
    
  }

.raiseFund_body {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.raiseFund_body_2 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145.5%;
    text-align: center;
    color: #0A0A0A;
    margin: 40px 0px 25px;
}

.raiseFund_body_2_1 {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 28px;
}

/* .custom_submit_button {
    background: #08E7F9 !important;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 145.5%;
    text-align: center;
    color: #000000;
} */

.section_MessageRaiseFund {
    padding: 120px 0px;
    background: #F5F3F8;
}

.message_container {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 70px 0px;
}

.message_container h5 {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 85%;
    text-align: center;
    color: #190F32;
}

.message_container p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145.5%;
    text-align: center;
    color: #0A0A0A;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff !important;
    border-color: #1CAC05 !important;
    background-color: #1CAC05 !important;
}

.raiseFund_body_2_1 h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 145.5%;
    color: #000000;
    margin: 25px 0px 10px;
}

ul {
    column-count: 2;
    /* column-gap: 2rem; */
    list-style: none;
}

@media screen and (min-width:1100px) {
    .team_founder {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        justify-items: center;
    }

    .para_wrap {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        width: 80%;
    }
}

.team_founder {
    margin-top: 60px;
    padding: 0 7%;
}

.section_founder_detail {
    padding: 0 30px;
    align-self: center;
}

.section_founder_detail h5 {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 52px;
    color: #000000;
}

.section_founder_detail h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145.5%;
    color: #000000;
}

.section_founder_detail>h6:nth-child(1) {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    width: 60%;
}

.section_founder_detail p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 105%;
    color: #0A0A0A;
}

.section_title h2 {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 52px;
    text-align: center;
    color: #000000;
}

.section_title h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #0A0A0A;
}


/**********************
Footer
**********************/

.section_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
    width: 100%;
    background-color: #614189;
    padding: 0 5%;
}

.section_footer_1 h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 214.5%;
    color: #FFFFFF;
}

.section_footer_1 {
    display: flex;
    flex-direction: row;
}

.section_footer_2 {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: end; */
}

.section_footer_2 h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 214.5%;
    color: #FFFFFF;
    text-align: right;
}

.fundAbout {
    padding: 4% 5%;
}

.fundAbout_2 h5 {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 52px;
    color: #000000;
}

.fundAbout_1 {
    margin-right: 100px;
}

.fundAbout_2 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145.5%;
    color: #000000;
}

.fundKeyPeople {
    background: #FBFAFC;
    padding: 0 5%;
}

.fundAbout_container {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
    /* padding: 0 5%; */
}

.keyPeople_heading {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    padding: 30px 0;
}

.keyPeople_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.keyPeople_Container div {
    width: 260px;
}

.keyPeople_Container div h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 105%;
    text-align: center;
    color: #0A0A0A;
}

.keyPeople_Container div h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 105%;
    text-align: center;
    color: #0A0A0A;
}

.keyPeople_Container div p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 105%;
    text-align: center;
    color: #000000;
}