@font-face {
    font-family: Cormorant SC;
    src: url(/assets/fonts/CormorantSC-Bold.ttf);
    src: url(/assets/fonts/CormorantSC-Light.ttf);
    src: url(/assets/fonts/CormorantSC-Medium.ttf);
    src: url(/assets/fonts/CormorantSC-Regular.ttf);
    src: url(/assets/fonts/CormorantSC-SemiBold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(/assets/fonts/Inter-VariableFont.ttf);
}

/* body {
    background-image: url(/assets/Images/background_image.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
} */

@media screen and (max-width:500px) {
    body {
        background-image: url(/assets/Images/background_image-mobile2.png) !important;
        background-repeat: no-repeat !important;
        background-size: 100% auto !important;
    }

    .hide-on-mobile {
        display: none;
    }

    .mobile_heading_65 {
        font-size: 35px;
    }

    .mobile_heading_55 {
        font-size: 40px;
    }

    .mobile_heading_79 {
        font-size: 45px;
    }

    .margin_top_10 {
        margin-top: 10px;
    }
}

@media screen and (min-width:501px) {
    body {
        background-image: url(/assets/Images/background_image.png) !important;
        background-repeat: no-repeat !important;
        background-size: 100% auto !important;
    }

    .desktop_heading_65 {
        font-size: 65px;
    }

    .desktop_heading_55 {
        font-size: 55px;
    }

    .desktop_heading_79 {
        font-size: 55px;
    }

    .hide-on-desktop {
        display: none;
    }
}

.logo_text {
    font-family: "Cormorant SC" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 26px !important;
    line-height: 85% !important;
    text-align: center !important;
    color: #35e8f9 !important;
}

.menu_ul li a {
    font-family: "Inter" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 145.5% !important;
    color: #ffffff !important;
    padding: 10px 10px !important;
}

.upperSection_bg {
    background: linear-gradient(166.23deg, #63448D 21.32%, #190F33 88.22%), #110F14;
}

.customButton {
    background: #08E7F9;
    border-radius: 5px;
    width: 128px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 145.5%;
    color: #000000;
}

.section_2 {
    padding-top: 50px;
}

@media screen and (min-width:1490px) {
    .section_2 {
        padding-top: 50px;
    }
}

.section_2_1 {
    position: relative;
}

.investing_heading {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    /* font-size: 65px; */
    line-height: 85%;
    text-align: center;
    color: #FFB7E3;
}

.investing_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 145.5%;
    text-align: center;
    color: #FFFFFF;
}

#vertical_btn {
    position: absolute;
    top: 170px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    height: 40px;
    width: 120px;
    background: #C5E8AA;
    border-radius: 5px 5px 0px 0px;
    transform-origin: bottom right;
    /* z-index:15; */
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#vertical_btn_2 {
    position: absolute;
    top: 320px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    height: 40px;
    width: 120px;
    background: #C5E8AA;
    border-radius: 5px 5px 0px 0px;
    transform-origin: bottom right;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#vertical_btn p,
#vertical_btn_2 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 145.5%;
    text-align: center;
    color: #272727;
    display: inline-block;
}

@media screen and (max-width: 500px) {
    .section_3 {
        margin-top: 54%;
    }

    .section_founder_detail:not(:first-child) {
        margin-top: 25%;
        /* margin-left: 30px; */
    }

    .section_founders_container {
        justify-content: center;
    }

    /* .section_5_2 img {
        height: 40px;
    } */

    .section_5 {
        padding: 40px 100px 60px;
    }

    .section_5_1 h5 {
        font-size: 35px;
    }

    .section_4 {
        /* margin-bottom: 180px; */
        height: 750px;
    }

    .exclusive_Deals {
        margin-top: 37%;
    }
}

@media screen and (min-width: 501px) {
    .section_3 {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        margin-top: 15%;
    }

    /* .section_4_2_img_1 {
        position: absolute;
        bottom: 70%;
        left: 14%;
    } */

    /* .section_4_2_img_2 {
        position: absolute;
        top: 74%;
        left: 14%;
    } */

    .section_founders_container {
        justify-content: space-between;
    }

    .section_4 {
        margin-bottom: 180px;
        height: 600px;
    }

    .section_5 {
        padding: 40px 100px 60px;
    }

    .section_5_1 h5 {
        font-size: 55px;
    }

    .rounded {
        padding-left: 5%;
    }


}

.section_3 {
    padding: 0 5%;
}




.section_3_2 {
    /* margin-left: 76px; */
    margin-top: 40px;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-color: white !important;
}

.nav-item {
    padding: 0px 25px !important;
}

.section_3_2 h4 {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    /* font-size: 55px; */
    line-height: 130%;
    color: #190F32;
}

.section_3_2 h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145.5%;
    color: #000000;
}

.section_3_2 h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 185.5%;
    color: #000000;
}

.section_4 {
    background: #221333;
    border-radius: 80px;

    margin-top: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
}

.section_4_1 {
    /* padding-top: 13%; */
}

.section_join_to_invest {
    min-height: 300px;
    background: #B5F9FF;
    border-radius: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    width: 90%;
    padding: 0 5%;
    position: absolute;
    top: -122px;
    left: 5%;
}

.section_join_to_invest_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section_join_to_invest_1 h5 {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    /* font-size: 55px; */
    line-height: 100%;
    color: #000000;

}

.section_join_to_invest_1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145.5%;
    color: #000000;
}

.arrow_animation {
    display: flex;
    height: 40px;
}

.section_join_to_raiseFund {
    min-height: 300px;
    background: #EFE3FF;
    border-radius: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    width: 90%;
    padding: 0 5%;
    position: absolute;
    bottom: -122px;
    left: 5%;
}

.section_4_1 h4 {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    /* font-size: 55px; */
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}

.section_4_1_2 {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5%;

}

.section_4_1_2_1,
.section_4_1_2_2,
.section_4_1_2_3,
.section_4_1_2_4,
.section_4_1_2_5 {
    height: 60px;
    background: #F3F3F3;
    border-radius: 5px;
    width: 170px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 300.5%;
    text-align: center;
    color: #242424;
    margin: 5px 0px;
}

.section_founders {
    margin-top: 40px;
    margin-bottom: 90px;
}

.section_founders_heading {
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 400;
    /* font-size: 55px; */
    line-height: 100%;
    color: #000000;
    text-align: center;
    margin-bottom: 35px;
}

.section_founders_container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;

    margin-top: 100px;
    padding: 0 5%;
}

.section_founder_detail {
    border: 1px solid #E3E3E3;
    border-radius: 45px;
    position: relative;
    width: 380px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.section_founder_detail h5 {
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: #000000;
}

.section_founder_detail p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 145.5%;
    text-align: center;
    color: #000000;
}

.founder_image {
    border-radius: 69.5px;
    position: absolute;
    top: -45px;
    left: 120px;
}

.section_5 {
    background-color: #221333;
    height: auto;
    width: 100%;

    margin: 40px 0px;
}

.section_5_1 {
    padding-bottom: 50px;
}

.section_5_1 h5 {
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 400;
    /* font-size: 55px; */
    text-align: center;
    line-height: 100%;
    color: #FFFCFC;
}

.section_5_2 {
    padding: 0 5%;
}

.section_5_3 {
    margin-top: 6%;
}

.section_5_3 h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145.5%;
    color: #FFFFFF;
    text-align: center;
}

.section_6_1_1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 85%;
    text-align: center;
    color: #888888;
}

.section_6_1_1 h4 {
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 400;
    /* font-size: 55px; */
    line-height: 85%;
    text-align: center;
    color: #190F32;
}

.section_6_2_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
}

.hovered:hover {
    background-color: #FDE2ED;
}

.section_6_2_1_1 div {
    background: #FFFFFF;
    border: 1px solid #FDE2ED;
    border-radius: 40px 0px 0px 40px;
    width: 231px;
    height: 276px;
    position: relative;
}

.section_6_2_1_1 div img {
    position: absolute;
    top: -18px;
    left: -16px;
}

.section_6_2_1_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 68px;
    width: 250px;
}

.section_6_2_1_1 h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #040404;
    margin-top: 20px;
}

.section_6_2_1_1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 105%;
    text-align: center;
    color: #0A0A0A;
}

.refer_container {
    padding: 0 5%;
}

.section_refer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
}

/* .section_refer_1 {
    width: 50%;
    padding: 0px 20px 0px 180px;
} */

.section_refer_2 {
    /* width: 50%; */
    padding-left: 10%;
}

.form-group input:focus {
    border-color: #A3E074 !important;
}

.section_refer_2 h5 {
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 400;
    /* font-size: 79px; */
    line-height: 100%;
    color: #000000;
    text-align: left;
}

.section_refer_2 h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145.5%;
    color: #000000;
    text-align: left;
}

.center-con {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 10px;
}

#cta {
    width: 100%;
    cursor: pointer;
    position: absolute;
}

#cta .arrow {
    left: 30%;
    margin-top: -2px;
}

.arrow {
    position: absolute;
    bottom: 0;
    margin-left: 0px;
    width: 12px;
    height: 12px;
    background-size: contain;
    top: 15px;
}

.segunda {
    margin-left: 8px;
}

.next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round:hover .arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round:hover .arrow.primera {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*------------------------------
    Blog Details 
----------------------------------*/

.blog_container {
    padding: 0 5%;
}

.post-page-banner .rainbow-meta-list {
    justify-content: center;
}

.post-page-banner .rainbow-meta-list li {
    color: var(--color-body);
    font-size: 20px;
    margin: 0 15px;
    margin-top: 38px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .post-page-banner .rainbow-meta-list li {
        font-size: 16px;
        margin-top: 8px;
    }
}

@media only screen and (max-width: 767px) {
    .post-page-banner .rainbow-meta-list li {
        font-size: 16px;
        margin-top: 8px;
    }
}

.post-page-banner .rainbow-meta-list li svg {
    margin-right: 10px;
}

.post-page-banner .rainbow-meta-list li a {
    color: var(--color-body);
    transition: 0.3s;
}

.post-page-banner .rainbow-meta-list li a:hover {
    color: var(--color-primary);
}

.post-page-banner .category-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: -10px;
    padding: 0;
    margin-top: 14px;
}

.post-page-banner .category-list li {
    margin: 10px;
    position: relative;
}

.post-page-banner .category-list li::after {
    position: absolute;
    content: ",";
    right: -9px;
}

.post-page-banner .category-list li:last-child::after {
    display: none;
}

.blog-details-content .category-meta {
    display: flex;
    padding: 42px 0;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    flex-wrap: wrap;
}

.blog-details-content .category-meta span.text {
    color: var(--color-white);
    font-size: 22px;
    display: inline-block;
    margin: 10px 0;
    margin-top: 0;
}

.blogs_heading {
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 400;
    /* font-size: 55px; */
    line-height: 100%;
    text-align: center;
    color: #000000;
}

.rainbow-section-gap {
    padding: 120px 120px !important;
}

.rainbow-card .inner .content .title {
    color: #F3F3F3;
}

/*----------------------
    Team Style  
-------------------------*/

.rainbow-box-card,
.team-style-default {
    margin-top: 75px;
}

.rainbow-box-card .inner,
.team-style-default .inner {
    background: linear-gradient(180deg, var(--color-lessdark) 20%, rgba(19, 19, 19, 0.4));
    -webkit-backdrop-filter: blur(4px) opacity(0.95);
    backdrop-filter: blur(4px) opacity(0.95);
    border-radius: var(--radius-big);
}

.rainbow-box-card .inner .thumbnail,
.team-style-default .inner .thumbnail {
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
    border: 6px solid var(--color-lessdark);
    top: -75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    min-height: 150px;
    overflow: hidden;
}

.rainbow-box-card .inner .thumbnail img,
.team-style-default .inner .thumbnail img {
    border-radius: 100%;
}

.rainbow-box-card .inner .content,
.team-style-default .inner .content {
    text-align: center;
    padding: 20px;
    padding-top: 85px;
    padding-bottom: 35px;
}

.rainbow-box-card .inner .content .title,
.team-style-default .inner .content .title {
    font-size: 34px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 6px;
}

.rainbow-box-card .inner .content .subtitle,
.team-style-default .inner .content .subtitle {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 15px;
    display: inline-block;
}

.rainbow-box-card .inner .content .team-form,
.team-style-default .inner .content .team-form {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    letter-spacing: 0.6px;
    font-style: italic;
}

.rainbow-box-card .inner .content .team-form img,
.team-style-default .inner .content .team-form img {
    padding-right: 10px;
    max-height: 18px;
}

.rainbow-box-card .inner .content .description,
.team-style-default .inner .content .description {
    margin-bottom: 0;
    padding: 0 5%;
}

.rainbow-box-card .inner .social-icon li a,
.team-style-default .inner .social-icon li a {
    color: var(--color-body);
}

.rainbow-box-card.border-gradient .thumbnail,
.team-style-default.border-gradient .thumbnail {
    background: linear-gradient(95deg, var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%) 98%/200% 100%;
    padding: 5px;
    border: 0 none;
}

.rainbow-box-card.style-two,
.team-style-default.style-two {
    margin-top: 30px;
}

.rainbow-box-card.style-two .inner,
.team-style-default.style-two .inner {
    padding-top: 35px;
}

.rainbow-box-card.style-two .inner .thumbnail,
.team-style-default.style-two .inner .thumbnail {
    top: 0;
    position: static;
    left: inherit;
    transform: none;
    min-width: 150px;
    min-height: 150px;
    margin: 0 auto;
}

.rainbow-box-card.style-two .inner .content,
.team-style-default.style-two .inner .content {
    padding-top: 10px;
}





/**********************
Footer
**********************/

.section_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
    width: 100%;
    background-color: #614189;
    padding: 0 5%;
}

.section_footer_1 h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 214.5%;
    color: #FFFFFF;
}

.section_footer_1 {
    display: flex;
    flex-direction: row;
}

.section_footer_2 {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: end; */
}

.section_footer_2 h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 214.5%;
    color: #FFFFFF;
    text-align: right;
}

/*********************************
raiseFund Style
*********************************/







.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* @media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */



@media (max-width: 767px) {
    #featureContainer .carousel-inner .carousel-item>div {
        display: none;
    }

    #featureContainer .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#featureContainer .carousel-inner .carousel-item.active,
#featureContainer .carousel-inner .carousel-item-next,
#featureContainer .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    #featureContainer .carousel-inner .carousel-item-end.active,
    #featureContainer .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    #featureContainer .carousel-inner .carousel-item-start.active,
    #featureContainer .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }

    #featureContainer .card img {
        width: 90%;
        height: 40vh;
    }

    #featureContainer .carousel-item {
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    #featureContainer .card img {
        width: 100%;
        height: 75vh;
    }
}

#featureContainer .carousel-inner .carousel-item-end,
#featureContainer .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

#featureContainer .card {
    border: 0;
}

#featureContainer .card {
    position: relative;
}

#featureContainer .card .card-img-overlays {
    position: absolute;
    bottom: 15%;
    left: 10%;
    color: #fff;
    font-weight: bolder;
}

#featureContainer a {
    text-decoration: none;
}

#featureContainer .indicator {
    border: 1px solid rgb(202, 202, 202);
    padding: 3px 6px 3px 6px;
}

#featureContainer .indicator:hover {
    background-color: blue;
    border: 1px solid blue;
    transition: 200ms;
}

#featureContainer .indicator:hover {
    color: white;
    transition: 200ms;
}

#featureContainer .indicator {
    color: lightgray;
}

#featureContainer .float-end {
    padding-top: 10px;
}

.innerDiv:hover .arrow_image {
    left: -5px;
}

.arrow_image {
    position: relative;
    left: -15px;
    top: 7px;
    transition: left 300ms;
    width: 25px;
}

.custom_submit_button {
    background: #A3E074 !important;
    border-radius: 5px;
    height: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 145.5%;
    text-align: center;
    color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.container {
    background-color: rgb(232, 242, 245);
    padding: 50px 40px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 25px #a7a7a7
}

.tag {
    text-align: center;
    font-size: 1.1rem
}

.fa-heart {
    color: rgba(255, 230, 0, 0.959);
    font-size: 30px
}

.card {
    height: 320px;
    padding: 10px 20px;
    border: none;
    box-shadow: -1px 3px 5px #a7a7a7
}

.testimonial {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 500
}

.active-star {
    color: #FBC02D;
    margin-bottom: 8px
}

.active-star:hover {
    color: #F9A825;
    cursor: pointer
}

.profile {
    padding-top: 10px
}

.name {
    font-weight: 700
}

.designation {
    font-size: 0.84rem;
    font-weight: 600
}

.owl-carousel {
    margin-bottom: 15px
}

.owl-carousel .owl-stage-outer {
    padding: 40px 10px;
    /* height: 380px */
}

.owl-carousel .owl-item img {
    width: auto !important;
}

/* .rounded{
    padding-left: 5%;
} */

/* .owl-carousel .owl-item img {
    width: 45px !important;
    height: 45px;
    border-radius: 50%;
    object-fit: cover
} */

.owl-theme .owl-nav [class*='owl-'] {
    border-radius: 50% !important;
    background: inherit !important;
    border: 3px solid #bbb;
    color: #bbb !important
}

.owl-theme .owl-nav [class*='owl-']:hover {
    border: 3px solid #A3E074;
    color: #A3E074 !important;
}

/* @media(max-width: 575.5px) {
    .container {
        margin: 0px;
        padding: 20px
    }
} */